each foto in fotos 
        div(class='col-lg-4 mb-4 contFotos') 
            img(id="foto" src=foto.img class="w-100 mb-1 rounded fotos" data-bs-toggle="modal" data-bs-target="#modalDesc" alt="")
            div(class="edicion d-flex flex-row-reverse")
                i.botoncillo.votar.fa.fa-star-half-o(data-id=foto._id)
                i.botoncillo.borrar.fa.fa-trash-o(data-id=foto._id)(data-bs-toggle="modal" data-bs-target="#modalVotar")
