each foto in fotos 
        div(class='col-lg-4 mb-1') 
            img(id="foto" src=foto.img class="w-100 mb-4 rounded fotos" data-bs-toggle="modal" data-bs-target="#modalDesc" alt="")
            div(class="star-icon" data-id=foto.id)
            