each foto in fotos 
        div(class='col-lg-4 mb-1') 
        
            img(src=foto.img class="w-100 mb-4 rounded" data-bs-toggle="modal" data-bs-target="#modalDesc" alt="")
            
            