header {
    height: 58px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #F0EEEE
}

#subTitle {
    text-align: center;
    font-family: 'Pragati Narrow', sans-serif;
}

main {
    padding-top: 20px;
}

footer {
    text-align: center;
    color: white;
}

.contenidoNav {
    margin-left: 650px;
}

#btSocial:hover {
    transform: scale(1.3);
}

#dibujosLandscape {
    max-height: 400px;
}

#dibujosPortrait {
    max-height: 800px;
}

.contenedorD {
    margin-right: 24px;
}

#contenedorSlider {
    max-height: 1000px;
    max-width: 1000px;
}

#autorPerfil {
    max-width: 800px;
    color: white;
}

#Copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

#perfil {
    max-width: 200px;
    max-height: 200px;
}

.contFotografo>div>div>input,
.contFotografo>div {
    color: #F0EEEE;
}

.pensamiento {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.btGaleria{
    background-color: grey;
    border-color: grey;
}

.itemBG {
    background-color: black;
}

.contenedorModalImagen {
    max-width: 400px;
}

.modal-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #131313F2;
    border-color: white;
    color: #F0EEEE
}

#titlePhoto {
    font-size: 2.5em;
    text-align: center;
}

#date-location {
    font-style: oblique;
}

.contenedorModalInfo>div>label {
    font-style: italic;
    font-weight: bold;
}

.contenedorModalInfo>div>input,
.contenedorModalImagen>div>input {
    color: #F0EEEE;
}

.contenedorModalInfo {
    margin-top: 70px;
}

#puntuacion {
    text-align: end;
}

.btn-close {
    background-image: url(close.png);
}

.form-label {
    margin-bottom: 0px;
}

.checkCat{
    border-color: #F0EEEE;
}